<a href="https://colab.research.google.com/github/abhijeetk597/python_exercise/blob/main/lambda_map_filter_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

Syntax

> lambda arguments : expression

In [29]:
# example 1

li_1 = [1, 2, 3, 4, 5]

square = lambda x: x * x

for i in li_1:
  print(square(i))

1
4
9
16
25

In [30]:
# example 2

add = lambda a, b: a + b

add(8, 15)

23

# Map

* Pythonâ€™s map() is a built-in function that allows you to process and transform all the items in an iterable without using an explicit for loop, a technique commonly known as mapping.
* map() is useful when you need to apply a transformation function to each item in an iterable and transform them into a new iterable.
* map() is one of the tools that support a functional programming style in Python.

Syntax
> map(function, iterable[, iterable1, iterable2,..., iterableN])

In [3]:
# example 1

li_2 = [1, 2, 3, 4, 5]

def square(i):
  return i * i

map(square, li_2)

ðŸ”‘ Map function returns an object

In [4]:
list(map(square, li_2))

[1, 4, 9, 16, 25]

In [6]:
# example 2 : using lamba function

cube = lambda x: x**3

print(list(map(cube, li_2)))

[1, 8, 27, 64, 125]

In [8]:
# example 3: while taking input from user

x, y, z = map(int, input('Enter 3 numbers (space separated): ').split()[:3])

print(f'x = {x}, y = {y}, z = {z}')

Enter 3 numbers (space separated): 24 99 56
x = 24, y = 99, z = 56

# Filter

* The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.
* When we need to filter out elements satisfying our condition

Syntax
> filter(function, iterable)

In [10]:
# example 1: finding even numbers in list

li_3 = [1, 2, 3, 4, 5]

def if_even(i):
  return i % 2 == 0

list(filter(if_even, li_3))

[2, 4]

In [15]:
# example 2: finding words in list having length more than 5

lst_str = ['Sed', 'ut', 'perspiciatis', 'unde', 'omnis', 'iste', 'natus', 'error', 'sit', 'voluptatem', 'accusantium', 'doloremque']

check_length = lambda x: len(x) > 5

list(filter(check_length, lst_str))

['perspiciatis', 'voluptatem', 'accusantium', 'doloremque']

# Reduce

* Python's `reduce()` is a function that implements a mathematical technique called folding or reduction.
* `reduce()` is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.
* `reduce()` needs to be imported from `functools` module

Syntax
> functools.reduce(function, iterable[, initializer])

In [16]:
# example 1: finding sum of all elemets using reduce
# using initializer as per syntax

from functools import reduce

li_4 = [1, 2, 3, 4, 5]

def sum(initial_sum, item):
  return initial_sum + item

reduce(sum, li_4, 0)

15

In [19]:
# without initializer

from functools import reduce

li_4 = [1, 2, 3, 4, 5]

reduce(lambda a, b: a + b, li_4)

15

In [21]:
# example 2: product of all elements

from functools import reduce

li_4 = [1, 2, 3, 4, 5]

reduce(lambda a, b: a * b, li_4)

120

In [18]:
# example 3: finding word having max length

from functools import reduce

li_5 = ['Sed', 'ut', 'perspiciatis', 'unde', 'omnis', 'iste', 'natus', 'error', 'sit', 'voluptatem', 'accusantium', 'doloremque']

reduce(lambda a, b: a if len(a) > len(b) else b, li_5)

'perspiciatis'