In [108]:
s = 'Abhijeet arjun kamble'

In [113]:
l = []
for i in s.split():
    l.append(i[::-1])
print(l)
print(' '.join(l))

['teejihbA', 'nujra', 'elbmak']
teejihbA nujra elbmak

In [114]:
# -10 to 10 using while loop

i = -10
while i < 11:
    print(i)
    i += 1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [115]:
# function to perform cumulative addition of given number
def cum_sum(n):
    sum = 0
    for i in range(n+1):
        sum += i
    return sum
n = 10
print(cum_sum(10))

55

In [116]:
# two list t1 and t2
t2 = [1, 2, 3]
t1 = [100, 200, 300]
d = dict(zip(t2, t1))
d

{1: 100, 2: 200, 3: 300}

In [126]:
# list containg 1 to 20 prime numbers --> square
def is_prime(n):
    if n == 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
lt = range(1, 21)
lt2 = [i for i in lt if is_prime(i)]
lt2

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#